.App {
  padding: 0.5rem;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 0.5rem;
}

.topbar {
  justify-self: center;
}
.chart {
  width: 70vw;
  transition: all 1s ease-out;
  max-height: 0;
  margin: 0 auto;
  text-align: left;
  background-color: rgb(21, 19, 32);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chart.open {
  max-height: 50rem;
  transition: all 1s ease-out;
}

.list {
  display: grid;
  justify-items: center ;
 max-height: 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 1;
}

.list.open {
  max-height: 50rem;
  transition: all 1s ease-out;
}

.list span {
  font-weight: 600;
  padding: 0.2rem;

}

.list ul {
 list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: 95vw;
  margin: 0;
 gap: 0.5rem;
  background-color: rgb(26, 18, 39);
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.list ul li {
  font-weight: 500;
  color: rgba(184, 174, 247, 0.836);
  /* padding: 0.3rem; */
  border-radius: 0.2rem;
}


@media (max-width: 728px) {
  .chart {
    width: 95vw;
  }
}